.main_heading{
    text-align: center; 
    font-family: 'Montserrat', sans-serif; 
    background-color:honeydew; width: 90%;
    padding-top: 10px; 
    padding-bottom: 10px; 
    margin: 40px auto;
}

.sub_heading{
    text-align:center; 
    font-family: 'Montserrat', sans-serif;
}